<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Actualizar Contraseña</title>
  <link rel="stylesheet" href="/static/css/update_password.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/marcador.js" defer></script>
</head>
<body>
  <aside class="side-menu"> 
    <img class="logo_cucei" src="/static/img/cucei.png" alt="Logo de CUCEI"> <!-- Logo de CUCEI -->
    <hr> <!-- Línea horizontal -->
    <ul>
      <li><a class="menu-item" id="admin" href="/"><img class="logo" src="/static/img/pagina-principal.png" alt="">Dashboard</a></li>
      <li><a class="menu-item" id="salud" href="#enfermeri.html"><img class="logo" src="/static/img/salud.png" alt="">Enfermería</a></li>
      <li><a class="menu-item" id="nutriologia" href="#nutriologia"><img class="logo" src="/static/img/dieta.png" alt="">Nutriología</a></li>
      <li><a class="menu-item" id="psicologia" href="#psicologia"><img class="logo" src="/static/img/salud-mental.png" alt="">Psicología</a></li>
      <li><a class="menu-item" id="citas" href="/citas"><img class="logo" src="/static/img/plazo.png" alt="">Citas</a></li>
      <li><a class="menu-item" id="profile" href="/profile"><img class="logo" src="/static/img/usuario.png" alt="">Perfil</a></li>
      <li><a class="menu-item" id="logout" href="/logout"><img class="logo" src="/static/img/cerrar-sesion.png" alt="">Log out</a></li>
    </ul>
  </aside>
  <main>
    <nav class="top-menu"> 
        <button id="button" class="toggle-menu" onclick="toggleSideMenu()">☰</button>
        <ul>
          <li><a href="/inicio">Inicio</a></li> <!-- Enlace a la página de inicio -->
          <li><a href="/servicios">Servicios</a></li> <!-- Enlace a la sección de servicios -->
        </ul>     
    </nav>
    <section>
        <h2>Actualizar Contraseña</h2>
        <form method="POST" action="{{ url_for('update_password') }}">
            <input type="password" name="current_password" placeholder="Contraseña Actual" required>
            <input type="password" name="new_password" placeholder="Nueva Contraseña" required>
            <button class="boton" type="submit">Actualizar Contraseña</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </section>
    
  </main>

</body>
</html>
